@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');
@import 'additional-styles/custom-fonts';

// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';



/* Additional styles */
@import 'additional-styles/utility-patterns';
@import 'additional-styles/range-slider';
@import 'additional-styles/toggle-switch';
@import 'additional-styles/theme';

// @tailwind utilities;
@import 'tailwindcss/utilities';

@use 'foundation';
@use 'layouts';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
	.rtl {
		direction: rtl;
	}
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
	display: none;
}

br.textBreak {
	@apply hidden md:block
}

br.mobileBreak {
	@apply block md:hidden
}

.hide {
	display: none !important;
}

* {
	font-family: "Nunito Sans", sans-serif!important;
}
